html {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body {
  background-color: #DAF7F6;
  color: #3B3B3B;
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  line-height: 16px;
}

header {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  margin-right: 16px;
}

h1 {
  margin: 0;
  padding: 40px 0;
  font-size: 3em;
  color: #F16059;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.recipe h2 {
  color: #F16059;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
  line-height: 29px;
}

.recipe h3 {
  padding: 6px;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #3B3B3B;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #F16059;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 1000px;
  margin: 0 auto;
}

.card {
  margin: 25px 0;
  overflow: auto;
  display: flex;
}

.image {
  width: 500px;
  height: 550px;
  display: flex;
  justify-content: flex-start;
}

.recipe {
  width: 500px;
  height: 550px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
}

.time {
  margin-bottom: 20px;
  border: 1px solid #3B3B3B;
  overflow: auto;
  display: flex;
  width: 100%;
  text-transform: uppercase;
}

.time div {
  padding-left: 6px;
  width: 33.3333%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.time strong {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.time .cook {
  border-left: 1px solid #3B3B3B;
   border-right: 1px solid #3B3B3B;
}

#cookies .image {
  background-image: url(../img/gluten-free-sugar-cookies.jpg);
  background-size: cover;
}

#pesto .image {
  background-image: url(../img/nut-free-pesto.jpg);
  background-size: cover;
}

#salad .image {
  background-image: url(../img/watermelon-salad.jpg);
  background-size: cover;
}

.columns {
  display: flex;
}

.directions {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.directions ol {
  padding-left: 15px;
  line-height: 22px;
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 205px;
  margin-right: 15px;
}

.ingredients ul {
  padding-left: 15px;
  line-height: 24px;
  list-style-type: square;
}
